<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5c7b45b6-5d6b-4c47-839a-9c732c1b761e/resourceGroups/rg_AIandApps/providers/Microsoft.Web/sites/scribbletorich</ResourceId>
    <ResourceGroup>rg_AIandApps</ResourceGroup>
    <ApiResourceId>/subscriptions/5c7b45b6-5d6b-4c47-839a-9c732c1b761e/resourceGroups/RGApps/providers/Microsoft.ApiManagement/service/apimDipBase/apis/ScribbleOpeAIAnalysis</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://scribbletorich-bzfrayc8gvcccsfz.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6475096f-b23d-4f8a-ba67-2ab503ffea4d</ProjectGuid>
    <MSDeployServiceURL>scribbletorich-bzfrayc8gvcccsfz.scm.australiaeast-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>scribbletorich</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>