<!DOCTYPE html>
<html lang="en" data-theme="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scribble To Azure Riches(STAR)</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

            .bd-mode-toggle .dropdown-menu .active .bi {
                display: block !important;
            }
    </style>

    <link href="~/css/jumbotrons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

    @await RenderSectionAsync("Contents", required: false)

    <script type="text/javascript">
        !(function (cfg){function e(){cfg.onInit&&cfg.onInit(n)}var x,w,D,t,E,n,C=window,O=document,b=C.location,q="script",I="ingestionendpoint",L="disableExceptionTracking",j="ai.device.";"instrumentationKey"[x="toLowerCase"](),w="crossOrigin",D="POST",t="appInsightsSDK",E=cfg.name||"appInsights",(cfg.name||C[t])&&(C[t]=E),n=C[E]||function(g){var f=!1,m=!1,h={initialize:!0,queue:[],sv:"8",version:2,config:g};function v(e,t){var n={},i="Browser";function a(e){e=""+e;return 1===e.length?"0"+e:e}return n[j+"id"]=i[x](),n[j+"type"]=i,n["ai.operation.name"]=b&&b.pathname||"_unknown_",n["ai.internal.sdkVersion"]="javascript:snippet_"+(h.sv||h.version),{time:(i=new Date).getUTCFullYear()+"-"+a(1+i.getUTCMonth())+"-"+a(i.getUTCDate())+"T"+a(i.getUTCHours())+":"+a(i.getUTCMinutes())+":"+a(i.getUTCSeconds())+"."+(i.getUTCMilliseconds()/1e3).toFixed(3).slice(2,5)+"Z",iKey:e,name:"Microsoft.ApplicationInsights."+e.replace(/-/g,"")+"."+t,sampleRate:100,tags:n,data:{baseData:{ver:2}},ver:undefined,seq:"1",aiDataContract:undefined}}var n,i,t,a,y=-1,T=0,S=["js.monitor.azure.com","js.cdn.applicationinsights.io","js.cdn.monitor.azure.com","js0.cdn.applicationinsights.io","js0.cdn.monitor.azure.com","js2.cdn.applicationinsights.io","js2.cdn.monitor.azure.com","az416426.vo.msecnd.net"],o=g.url||cfg.src,r=function(){return s(o,null)};function s(d,t){if((n=navigator)&&(~(n=(n.userAgent||"").toLowerCase()).indexOf("msie")||~n.indexOf("trident/"))&&~d.indexOf("ai.3")&&(d=d.replace(/(\/)(ai\.3\.)([^\d]*)$/,function(e,t,n){return t+"ai.2"+n})),!1!==cfg.cr)for(var e=0;e<S.length;e++)if(0<d.indexOf(S[e])){y=e;break}var n,i=function(e){var a,t,n,i,o,r,s,c,u,l;h.queue=[],m||(0<=y&&T+1<S.length?(a=(y+T+1)%S.length,p(d.replace(/^(.*\/\/)([\w\.]*)(\/.*)$/,function(e,t,n,i){return t+S[a]+i})),T+=1):(f=m=!0,s=d,!0!==cfg.dle&&(c=(t=function(){var e,t={},n=g.connectionString;if(n)for(var i=n.split(";"),a=0;a<i.length;a++){var o=i[a].split("=");2===o.length&&(t[o[0][x]()]=o[1])}return t[I]||(e=(n=t.endpointsuffix)?t.location:null,t[I]="https://"+(e?e+".":"")+"dc."+(n||"services.visualstudio.com")),t}()).instrumentationkey||g.instrumentationKey||"",t=(t=(t=t[I])&&"/"===t.slice(-1)?t.slice(0,-1):t)?t+"/v2/track":g.endpointUrl,t=g.userOverrideEndpointUrl||t,(n=[]).push((i="SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details)",o=s,u=t,(l=(r=v(c,"Exception")).data).baseType="ExceptionData",l.baseData.exceptions=[{typeName:"SDKLoadFailed",message:i.replace(/\./g,"-"),hasFullStack:!1,stack:i+"\nSnippet failed to load ["+o+"] -- Telemetry is disabled\nHelp Link: https://go.microsoft.com/fwlink/?linkid=2128109\nHost: "+(b&&b.pathname||"_unknown_")+"\nEndpoint: "+u,parsedStack:[]}],r)),n.push((l=s,i=t,(u=(o=v(c,"Message")).data).baseType="MessageData",(r=u.baseData).message='AI (Internal): 99 message:"'+("SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details) ("+l+")").replace(/\"/g,"")+'"',r.properties={endpoint:i},o)),s=n,c=t,JSON&&((u=C.fetch)&&!cfg.useXhr?u(c,{method:D,body:JSON.stringify(s),mode:"cors"}):XMLHttpRequest&&((l=new XMLHttpRequest).open(D,c),l.setRequestHeader("Content-type","application/json"),l.send(JSON.stringify(s)))))))},a=function(e,t){m||setTimeout(function(){!t&&h.core||i()},500),f=!1},p=function(e){var n=O.createElement(q),e=(n.src=e,t&&(n.integrity=t),n.setAttribute("data-ai-name",E),cfg[w]);return!e&&""!==e||"undefined"==n[w]||(n[w]=e),n.onload=a,n.onerror=i,n.onreadystatechange=function(e,t){"loaded"!==n.readyState&&"complete"!==n.readyState||a(0,t)},cfg.ld&&cfg.ld<0?O.getElementsByTagName("head")[0].appendChild(n):setTimeout(function(){O.getElementsByTagName(q)[0].parentNode.appendChild(n)},cfg.ld||0),n};p(d)}cfg.sri&&(n=o.match(/^((http[s]?:\/\/.*\/)\w+(\.\d+){1,5})\.(([\w]+\.){0,2}js)$/))&&6===n.length?(d="".concat(n[1],".integrity.json"),i="@@".concat(n[4]),l=window.fetch,t=function(e){if(!e.ext||!e.ext[i]||!e.ext[i].file)throw Error("Error Loading JSON response");var t=e.ext[i].integrity||null;s(o=n[2]+e.ext[i].file,t)},l&&!cfg.useXhr?l(d,{method:"GET",mode:"cors"}).then(function(e){return e.json()["catch"](function(){return{}})}).then(t)["catch"](r):XMLHttpRequest&&((a=new XMLHttpRequest).open("GET",d),a.onreadystatechange=function(){if(a.readyState===XMLHttpRequest.DONE)if(200===a.status)try{t(JSON.parse(a.responseText))}catch(e){r()}else r()},a.send())):o&&r();try{h.cookie=O.cookie}catch(k){}function e(e){for(;e.length;)!function(t){h[t]=function(){var e=arguments;f||h.queue.push(function(){h[t].apply(h,e)})}}(e.pop())}var c,u,l="track",d="TrackPage",p="TrackEvent",l=(e([l+"Event",l+"PageView",l+"Exception",l+"Trace",l+"DependencyData",l+"Metric",l+"PageViewPerformance","start"+d,"stop"+d,"start"+p,"stop"+p,"addTelemetryInitializer","setAuthenticatedUserContext","clearAuthenticatedUserContext","flush"]),h.SeverityLevel={Verbose:0,Information:1,Warning:2,Error:3,Critical:4},(g.extensionConfig||{}).ApplicationInsightsAnalytics||{});return!0!==g[L]&&!0!==l[L]&&(e(["_"+(c="onerror")]),u=C[c],C[c]=function(e,t,n,i,a){var o=u&&u(e,t,n,i,a);return!0!==o&&h["_"+c]({message:e,url:t,lineNumber:n,columnNumber:i,error:a,evt:C.event}),o},g.autoExceptionInstrumented=!0),h}(cfg.cfg),(C[E]=n).queue&&0===n.queue.length?(n.queue.push(e),n.trackPageView({})):e();})({
          src: "https://js.monitor.azure.com/scripts/b/ai.3.gbl.min.js",
          // name: "appInsights", // Global SDK Instance name defaults to "appInsights" when not supplied
          // ld: 0, // Defines the load delay (in ms) before attempting to load the sdk. -1 = block page load and add to head. (default) = 0ms load after timeout,
          // useXhr: 1, // Use XHR instead of fetch to report failures (if available),
          // dle: true, // Prevent the SDK from reporting load failure log
          crossOrigin: "anonymous", // When supplied this will add the provided value as the cross origin attribute on the script tag
          // onInit: null, // Once the application insights instance has loaded and initialized this callback function will be called with 1 argument -- the sdk instance (DON'T ADD anything to the sdk.queue -- As they won't get called)
          // sri: false, // Custom optional value to specify whether fetching the snippet from integrity file and do integrity check
          cfg: { // Application Insights Configuration
            connectionString: "InstrumentationKey=37b302d2-3cc5-4036-8327-ca4d02a7b89a;IngestionEndpoint=https://australiaeast-1.in.applicationinsights.azure.com/;LiveEndpoint=https://australiaeast.livediagnostics.monitor.azure.com/;ApplicationId=f4ca2a35-cb18-44ef-a97f-637a2abef975"
        }});
    </script>
</head>
<body>
    <div id="loading-spinner" class="spinner-border text-primary" role="status" style="display: none;">
        <span class="sr-only">Loading...</span>
    </div>
    <main>
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom d-flex align-items-center">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                    <span class="fs-4">Scribble To Azure Riches aka STAR</span>
                </a>
                <button id="darkModeToggle" class="dark-mode-toggle ms-auto" aria-label="Toggle dark mode">
                    <svg id="lightModeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="display: none;">
                        <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
                    </svg>
                    <svg id="darkModeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd" />
                    </svg>
                </button>
            </header>

            @RenderBody()            <footer class="footer mt-auto py-4 bg-body-tertiary">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <span class="text-body-secondary">&copy; 2025 STAR. All rights reserved.</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="social-links">
                                <a href="#" class="text-body-secondary mx-2"><i class="bi bi-github"></i></a>
                                <a href="#" class="text-body-secondary mx-2"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="text-body-secondary mx-2"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feedback-form d-flex align-items-center justify-content-end">
                                <form id="thumbsUpForm" method="post" action="/Feedback/Submit" class="me-3">
                                    <input type="hidden" name="feedbackType" value="thumbsUp" />
                                    <button type="submit" class="btn btn-link p-0">
                                        <i class="bi bi-hand-thumbs-up-fill" style="font-size: 1.5rem; color: var(--primary-color);"></i>
                                    </button>
                                </form>
                                <a href="#" class="text-body-secondary" data-bs-toggle="modal" data-bs-target="#writeFeedbackModal">
                                    <i class="bi bi-pencil-square me-2"></i>Write Feedback
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>            <!-- Modal for Write Feedback -->
            <div class="modal fade" id="writeFeedbackModal" tabindex="-1" aria-labelledby="writeFeedbackModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title fs-4" id="writeFeedbackModalLabel">Share Your Feedback</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pt-0">
                            <p class="text-body-secondary mb-4">We value your feedback to improve our service</p>
                            <form id="writeFeedbackForm" method="post" action="/Feedback/Submit">
                                <input type="hidden" name="feedbackType" value="writeup" />
                                <div class="mb-4">
                                    <label for="feedbackText" class="form-label">Your thoughts</label>
                                    <textarea class="form-control" id="feedbackText" name="feedbackText" rows="4" 
                                        placeholder="Share your experience or suggestions..."></textarea>
                                </div>
                                <div class="text-end">
                                    <button type="button" class="btn btn-outline me-2" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-send me-2"></i>Submit Feedback
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            <!-- Modal for Thank You Message -->
            <div class="modal fade" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center py-4">
                            <i class="bi bi-check-circle-fill text-success" style="font-size: 3rem;"></i>
                            <h5 class="modal-title mt-3 mb-2" id="thankYouModalLabel">Thank You!</h5>
                            <p class="text-body-secondary mb-4">Your feedback helps us improve our service.</p>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="bi bi-arrow-right me-2"></i>Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const darkModeToggle = document.getElementById('darkModeToggle');
            const darkModeIcon = document.getElementById('darkModeIcon');
            const lightModeIcon = document.getElementById('lightModeIcon');
            const html = document.documentElement;

            // Check for saved user preference
            const currentTheme = localStorage.getItem('theme') ||
                (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

            // Apply the saved theme
            setTheme(currentTheme);

            darkModeToggle.addEventListener('click', function() {
                const theme = html.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
                setTheme(theme);
                localStorage.setItem('theme', theme);
            });

            function setTheme(theme) {
                html.setAttribute('data-theme', theme);
                if (theme === 'dark') {
                    darkModeIcon.style.display = 'none';
                    lightModeIcon.style.display = 'block';
                } else {
                    darkModeIcon.style.display = 'block';
                    lightModeIcon.style.display = 'none';
                }
            }
        });
        document.getElementById('writeFeedbackForm').addEventListener('submit', function(event) {
                   event.preventDefault();
                   var form = event.target;
                   var formData = new FormData(form);
                   fetch(form.action, {
                       method: form.method,
                       body: formData
                   }).then(response => {
                       if (response.ok) {
                           var writeFeedbackModal = bootstrap.Modal.getInstance(document.getElementById('writeFeedbackModal'));
                           writeFeedbackModal.hide();
                           var thankYouModal = new bootstrap.Modal(document.getElementById('thankYouModal'));
                           thankYouModal.show();
                       } else {
                           alert('There was an error submitting your feedback. Please try again.');
                       }
                   }).catch(error => {
                       console.error('Error:', error);
                       alert('There was an error submitting your feedback. Please try again.');
                   });
               });

               document.getElementById('thumbsUpForm').addEventListener('submit', function(event) {
                   event.preventDefault();
                   var form = event.target;
                   var formData = new FormData(form);
                   fetch(form.action, {
                       method: form.method,
                       body: formData
                   }).then(response => {
                       if (response.ok) {
                           var thankYouModal = new bootstrap.Modal(document.getElementById('thankYouModal'));
                           thankYouModal.show();
                       } else {
                           alert('There was an error submitting your feedback. Please try again.');
                       }
                   }).catch(error => {
                       console.error('Error:', error);
                       alert('There was an error submitting your feedback. Please try again.');
                   });
               });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
