@{
    ViewData["Title"] = "Home Page";
    var list = (List<string>)ViewBag.content;
}

<div class="text-center">
    <h1 class="display-4">Analyze the image</h1>
</div>


@if (!list.Any())
{
    <a href="@Url.Action("Analyze", new { fileName = "test.jpg" })" class="btn btn-primary" id="analyzeButton">Upload and Analyze</a>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Component of image</h5>
            <ul class="list-group list-group-flush">
                @foreach (var item in list)
                {
                    <li class="list-group-item">@item</li>
                }
            </ul>
            <a href="@Url.Action("Reference",new {content = ViewBag.content})" class="btn btn-info">Get architecture details</a>
        </div>
        <img src="@Url.Content("~/images/Whiteboard.png")" class="card-img-bottom" style="max-height: 600px; max-width: 600px;" />
    </div>

    <br />

}