@{
    ViewData["Title"] = "Home Page";
    var list = ViewBag.content as List<string> ?? new List<string>();
    string imageUrl = ViewBag.imageUrl as string;
    string analysisId = ViewBag.id as string;
}

<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">The component extracts from drawing</h1>
        <p class="fs-5 text-body-secondary">A quick summary of drawing here, in the future.</p>
    </div>
</header>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    @if (list != null && list.Any())
    {
        foreach (string item in list)
        {
            <div class="col">
                <div class="card mb-4 rounded-3">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">@item</h4>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row mb-5">
    <div class="row justify-content-center">
        @if (list != null && list.Any())
        {
            <a href="@Url.Action("Reference", "Home", new { id = analysisId })" class="btn btn-primary btn-lg col-4">Click
                to get architecture details</a>
        }
    </div>
</div>

<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="my-0 fw-normal">The image being analyzed is:</h5>
                </div>
                <div class="card-body text-center">
                    <img src="@imageUrl" class="img-fluid" alt="Analyzed Image" />
                </div>
            </div>
        </div>
    </div>
</div>