@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <img src="~/images/banner.png" class="img-fluid" />
        <h1 class="col-md-8 fs-4 pt-3 pb-1">Scribble to Azure Riches product(STAR)/tool is here...</h1>
        <a href="@Url.Action("AnalyzeIndex")" class="btn btn-primary btn-lg" id="analyzeButton">Start to Analyze</a>
    </div>
</div>

